body {
    background: linear-gradient(to right, #2b2b2b, #b9b9b9);
    width: 75%;
    margin: 0 auto;
  }
  

h1, h3{
    font-family: "Georgia", serif;
    color: rgb(201, 204, 207);
    text-align: center;
}

h1 {
  color: rgb(222, 225, 230)
}

h2, p {
  font-family: "Georgia", serif;
  color: rgb(201, 204, 207);
  float: left;
}

form, #playerGrid, #aiGrid, #startButton {
  margin: auto;
  display: block;
}

#gridsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  #gridsContainer {
    flex-direction: column-reverse;
    align-items: center;
  }
}

#instructions, #aiSide, #playerSide {
  display: flex;
  flex-direction: column;
}

#instructions h2{
  text-align: center;
}

#playerGrid, #aiGrid {
    padding: 5px;
    align-content: center;
}

#playerGrid .cell, #aiGrid .cell {
    padding: 2.5px;
    text-align: center;
    vertical-align: middle;
    color: white;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#playerGrid .ship {
    background-color: blue;
}

#playerGrid .miss, #aiGrid .miss {
    background-color: black;
}

#playerGrid .hit, #aiGrid .hit {
    background-color: red;
}

#resultsContainer {
    font-size: 20px;
    color: white;
}

#formLabel {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}

#startButton {
    background-color: #4caf50;
    color: white;
    font-family: "Montserrat", serif;
    border: 2px solid #4caf50;
    border-radius: 8px;
    padding: 10px;
  }

#startButton:hover {
  cursor: pointer;
  background-color: #143015;
}

form {
    display: flex;
    align-items: center;
    padding: auto;
    margin-top: 10px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"] + label {
    color: white;
    font-family: "Montserrat", serif;
    font-size: 16px;
    cursor: pointer;
    margin: 0 20px;
  }
  
  input[type="radio"] + label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  input[type="radio"]:checked + label:before {
    background-color: white;
  }
  